*{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}



div>a{
    text-decoration: none;
}
.active{
    font-weight: 800;
}
.checkoutform label{
    font-size: 14px !important;
    font-weight: 600;
}
.checkoutform input{
    font-size: 14px !important;
}
.product-viewtag{
    background-color: #0B0B45;
    color: antiquewhite;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 22px;
    margin-left: 17.5rem;
    padding: 7px 10px;
    font-weight: 600;
    min-width: 45px;
}
.sentence{
    text-transform: capitalize;
}
.certify{
    padding: 5px;
    border: 2px solid #FFD700;
}
.certify{
    overflow: hidden;
}

.certify img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.certify:hover img {
    transform: scale(1.5);
}


.foofooter{
    display: flex;
    background-color: #000;
    height: 350px;
    padding: 20px;
    margin-top: 5px;
}
.f-1{
    margin: 10px 30px;
}
.f-1 ul{
    list-style: none;
}
.f-1 li{
    margin-top: 10px;
}
.f-1 ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.f-1 ul li a:hover{
    text-decoration: underline;
}
.f-1 h2{
    font-size: 18px;
    color: gold;
    text-transform: uppercase;
}
.foocopy{
    border-top: 1px solid #878787;
    position: relative;
    bottom: 50px;
    display: flex;
    padding-top: 10px;
    padding-left: 10px; 
    display:flex;
    color: white;
}
.foocard{
    position: relative;
    left: 700px;
}
.fooright-content{
    border-left: 1px solid #878787;
    height: 245px;
    position: relative;
    top: 10px;
    left: 190px;
    display: flex;
}
.footext1{
    color: gold;
    font-weight: bold;
}
.fooright{
    position: relative;
    left: 30px;
}
.footext2{
    margin-top: 10px;
    color: white;
    font-size: 16px;
} 