
*{
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

/* Style the tab start */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  outline: rgba(0,0,0);
  cursor: pointer;
  /* padding: 14px 16px; */
  transition: 0.3s;
  border: 2px solid #c0c0c0;
  border-radius: 10px;
  height: 100px;
  width: 275px;
  font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #cccccc;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f36100;
  color: whitesmoke;
  font-weight: 300;
  font-size: 25px;
}
p{
  font-weight: 300;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
/* end */
.news{
    background-color: rgba(0,0,0,0.5);
    float: left;
    width: 380px !important;
    height: 130vh;
    position: relative;
    top: 30px;
    left: 50px;
    padding: 30px !important;
    max-height: 385px;
    bottom: 40px;
}
.con{
  border-radius: 5px;
  height: 35px;
  width: 370px;
}
.con2{
  border-radius: 5px;
  height: 50px;
  width: 370px;
}
.cat12{
    background-color: rgba(223,223,223,0.05);
    float: left;
    width: 300px !important;
    height: 12vh;
    position: relative;
    top: -170px;
    left: 32px;
    padding: 30px !important;
    max-height: 385px;
    bottom: 40px;
}
.our{
  background-color: rgba(223,223,223,0.05);
  float: left;
  width: 300px !important;
  height: 10vh;
  position: relative;
  top: 200px;
  padding: 30px !important;
  max-height: 385px;
  bottom: 40px;
}

.bann{
    background-color: #FFFFFF9E;
    float: left;
    width: 520px !important;
    height: 40vh;
    position: relative;
    top: 490px;
    left: 160px;
    padding: 30px !important;
    max-height: 320px;
    bottom: 40px;
}

.catea{
    background-color: rgba(0,0,0,0.01);
    width: 1320px !important;
    height: 130vh;
    position: relative;
    top: 480px;
    left: 95px;
    padding: 30px !important;
    max-height: 106px;
    bottom: 0px;
}
.cateover{
    background-color: rgba(0,0,0,0.01);
    width: 380px !important;
    height: 130vh;
    position: relative;
    top: 450px;
    padding: 30px !important;
    max-height: 106px;
    bottom: 0px;
}
.newtab {
    position: relative;
    bottom: 0;
    top:-750px;
    background: rgba(215, 215, 215, 0.05);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

.cated{
    background-color: rgba(0,0,0,0.5);
    float: left;
    width: 460px !important;
    height: 65vh;
    position: relative;
    top: 480px;
    left: 10px;
    padding: 30px !important;
    max-height: 345px;
    bottom: 0px;
}
.btncolor{
    background-color: #9f9893;
}
.sect1{
    background-color: #EFEFEF;
}
.navbarcolor{
    background: #cccccc
}
.bgcolor{
    background-color: #f36100;
}
.fcolor{
    color: #f36100;
    font-size: 50px;
}

div>a{
    text-decoration: none;
}
.active{
    font-weight: 800;
}
.checkoutform label{
    font-size: 14px !important;
    font-weight: 600;
}
.checkoutform input{
    font-size: 14px !important;
}
.product-viewtag{
    background-color: #0B0B45;
    color: antiquewhite;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 22px;
    margin-left: 17.5rem;
    padding: 7px 10px;
    font-weight: 600;
    min-width: 45px;
}
.sentence{
    text-transform: capitalize;
}
.certify{
    padding: 5px;
    border: 2px solid #FFD700;
}
.certify{
    overflow: hidden;
}

.certify img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.certify:hover img {
    transform: scale(1.5);
}

.foofooter{
    display: flex;
    background-color: #0a0a0a;
    height: 500px;
    padding: 20px;
}
.f-1{
    margin: 10px 20px;
}
.fabout{
  margin-right: 60px;
}
.f-1 ul{
    list-style: none;
}
.f-1 li{
    margin-top: 10px;
}
.f-1 ul li a{
    color: #ccc;
    text-decoration: none;
    font-size: 15px;
}
.f-1 ul li a:hover{
    text-decoration: underline;
}
.f-1 h2{
    font-size: 18px;
    color: gold;
    text-transform: uppercase;
}
.foocopy{
    position: relative;
    bottom: 10px;
    display: flex;
    padding-left: 10px; 
    display:flex;
    color: white;
}
.foocard{
    position: relative;
    left: 700px;
}
.fooright-content{
    border-left: 1px solid #878787;
    height: 385px;
    position: relative;
    top: 10px;
    left: 1px;
    display: flex;
}
.footext1{
    color: gold;
    font-weight: bold;
}
.fooright{
    position: absolute;
    left: 50px;
    margin-top: 15px;
}
.footext2{
    margin-top: 10px;
    color: white;
    font-size: 16px;
} 

.nav-link{
    color:#0a0a0a
}
.nav-link:hover{
    color:#f36100
}
.containers {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 460px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .imageo {
    opacity: 1;
    display: block;
    width: 335px;
    height: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 160px;
    left: 230px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .middleo {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 45px;
    left: 145px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .containers:hover .image {
    opacity: 0.3;
  }
  .containers:hover .imageo {
    opacity: 0.3;
  }
  
  .containers:hover .middle {
    opacity: 1;
  }
  .containers:hover .middleo {
    opacity: 1;
  }
  
  .text {
    background-color: #f36100;
    color: white;
    font-size: 16px;
    padding: 8px 8px;
  }
.mi{
    width: 305px;
    color: #0a0a0a;
    font-size: 18px;
    font-weight: bold;
}


.scroll-counter {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    color: white;
    background-color: rgba(0,0,0,0.4);
  }
  
  .aos-all {
    width: 1000px;
    max-width: 98%;
    margin: 50px auto;
  }
  
  .aos-item {
    display: inline-block;
    float: left;
    width: 100%;
    height: 300px;
    padding: 20px;
  }
  
  .aos-item::before {
    content: attr(data-id);
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    background: #1da4e2;
    line-height: 260px;
    text-align: center;
    color: #fff;
  }
  
  @media screen and (min-width: 420px) {
    .aos-item {
      width: 50%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .aos-item {
      width: 33%;
    }
  }
  
  .aos-anchors__lines {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid blue;
    border-bottom: 2px solid red;
  }
  
  .aos-anchors__lines::before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: green;
  }
  
  .aos-anchors__sidebar {
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .aos-anchors__sidebar > div {
    padding: 5px 10px;
    background: #f1f1f1;
  }
  
  .aos-anchors__content {
    width: 400px;
    margin: 50px auto;
  }
  
  .aos-anchors__content > div {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    background: #f1f1f1;
    line-height: 300px;
    text-align: center;
    color: #333;
  }
  
  .aos-anchors__content > div::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
  }
  
  .aos-anchors__content > div::after {
    content: attr(data-anchor-id);
    position: relative;
    background-color: #f1f1f1;
  }
  
  .aos-anchors__content > div[data-placement$="-bottom"]::before {
    background-color: red;
  }
  
  .aos-anchors__content > div[data-placement$="-center"]::before {
    background-color: green;
  }
  
  .aos-anchors__content > div[data-placement$="-top"]::before {
    background-color: blue;
  }
  
  .aos-anchors__content > div[data-placement^="top-"]::before {
    top: 0;
  }
  
  .aos-anchors__content > div[data-placement^="center-"]::before {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  
  .aos-anchors__content > div[data-placement^="bottom-"]::before {
    bottom: 0;
  }

  .image-wrapper {
  position: relative;
}
.image-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.image-hover:hover {
  opacity: 1;
}

.GFG{
  
  width: 175px;
    height: 230px;
    border-radius: 2%;
}
.GFG:hover{
  /* color: #bbb;  */
  /* background: rgba(215,215,215,0.10);  */
  box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 28%); 
}
