{% extends 'main/layouts/main.html' %}
{% load static %}
{% block content %}

{% include 'main/inc/navbar.html' %}

<div class="container mt-5">
    <h1>About Us</h1>
    <div class="col-md-6 mt-3 mb-5">
        <img src="{% static 'main/images/home/off.jpeg' %}" alt="">
    </div>
    <div class="col-md-6 mt-3 mb-5">
        <p>We are a company that specializes in creating innovative software solutions for businesses of all sizes.</p>
        <p>Founded in 2010, our team has a wealth of experience in the industry and a passion for technology. We strive to stay on the cutting edge of developments in the field, and we are always looking for new and exciting ways to help our clients succeed.</p>
        <p>Thank you for visiting our website and we hope to hear from you soon!</p>
    </div>
</div>
<div class="container">
    <h2 class="mt-3">LICENSES AND CERTIFICATIONS</h2>
</div>
<div class="container-fluid sect1">
    <div class="container">
        <div class="row">
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/2015.jpg' %}"class="certify" height="450px" width="350px" alt="cetificates">
            </div>
            <div class="col  mt-5 mb-5">
                <img src="{% static 'main/images/2018.jpg' %}"class="certify" height="450px" width="350px" alt="cetificates">
            </div>
            <div class="col  mt-5 mb-5">
                <img src="{% static 'main/images/GMP.jpg' %}"class="certify" height="450px" width="350px" alt="cetificates">
            </div>
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/TRIOFIT.jpg' %}"class="certify" style="margin-left: 215px;" height="450px" width="350px" alt="cetificates">
            </div>
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/HACCP.jpg' %}"class="certify" height="450px" width="350px" alt="cetificates">
            </div>  
        </div>
        
    </div>
</div>
{% endblock content %}

