{% extends 'main/layouts/main.html' %}
{% block content %}

{% include 'main/inc/navbar.html' %}
<div class="container">
    <h1 class="text-dark mt-5">CONTACT US</h1>
    <div class="col-md-4">
        <h2>Company Address</h2>
        <h4>Triofit Nutraceutical</h4>
        <p>Lorem, ipsum dolor sit amet consectetur <br> adipisicing elit. Voluptatem debitis doloremque nisi ex, </p>
    </div>
    <div class="col-md-4">
        <ul style="font-size: 18px;margin-top: 60px;">
            <li>Phone: <a href="tel:9975810075">9975810075</a></li>
            <li>E-mail: <a href="mailto:info@triofit.com">info@triofit.com</a></li>
            <li>Phone: <a href="tel:9975810075">9975810075</a></li>
            <li>Website: <a href="nutralike.com">nutralike.com</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <div style="margin-top: 60px;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem consequuntur dolor, exercitationem delectus dolore, fuga </p> 
            <h5 class="fw-bold">Phone General Inquiries Landline: +91 87991 91656</h5>
        </div>
    </div>
</div>

<hr>
<div class="container-fluid my-5">
    <div class="container my-3">
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                {{ form.name }}
                {% if form.errors.name %}
                    <label for="" class="text-danger">{{ form.errors.name }}</label>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email }}
                {% if form.errors.email %}
                    <label for="" class="text-danger">{{ form.errors.email }}</label>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.message }}
                {% if form.errors.message %}
                    <label for="" class="text-danger">{{ form.errors.message }}</label>
                {% endif %}
            </div>
            <input type="submit" value="Send" style="padding: 10px;border-radius: 5px;color: whitesmoke;background-color: gray;
        ">
        </form>
          
    </div>
</div>
{% endblock content %}

