{% extends 'main/layouts/main.html' %}
{% block content %}

{% include 'main/inc/navbar.html' %}
<div class="container">
    <h1 class="text-danger mt-5">CONTACT US</h1>
</div>
<div class="container-fluid my-5">
    <div class="container my-3">
        <div class="col-md-4">
            <h1>Company Address</h1>
            <p class="fw-bold">Triofit Nutracare Private Limited</p>
            <p></p>
        </div>
        <div class="col-md-4">
            <h5><a class="text-end text-dark"href="tel:9975810075">9975810075</a></h5>
            <h5><a class="text-end text-dark"href="mailto:info@triofit">info@triofit</a></h5>
            <h5><a class="text-end text-dark"href="mailto:marketing@triofit">marketing@triofit</a></h5>
        </div>
        <div class="col-md-4">
            <h5><a class="text-end text-dark"href="tel:9975810075">9975810075</a></h5>
            <h5><a class="text-end text-dark"href="mailto:info@triofit">info@triofit</a></h5>
            <h5><a class="text-end text-dark"href="mailto:marketing@triofit">marketing@triofit</a></h5>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col">
                    <label for="name">Name: </label>
                    <input type="text" name='name'>
                </div>
                <div class="col">
                    <label for="email">Email: </label>
                    <input type="text" name='name'>
                </div>
                <div class="col">
                    <label for="mobile">Mobile: </label>
                    <input type="text" name='name'>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}

