{% extends 'main/layouts/main.html' %}
{% load static %}
{% block content %}
{% comment %} <div style="margin-top: 61px;margin-bottom:0px;"></div> {% endcomment %}
{% include 'main/inc/navbar.html' %}
{% comment %} style="margin-top:40px;" {% endcomment %}
<div class="container">
    <div class="col-md-6">
        <div class="row" style="margin-top: 50px;margin-bottom: 133px;">
            <h1 style="font-size: 40px;text-transform: math-auto;font-family: 'Karla', Sans-serif">Reach out with any questions you have.</h1>
            <p style="font-size: 22px;text-transform: math-auto;font-family: 'Karla', Sans-serif">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
        </div>
       
        <div class="row"style="
        margin-top: 133px;
    ">
            <p style="font-size: 22px;text-transform: math-auto;font-family: 'Karla', Sans-serif">
                Plot J-1/22, TATA STEEL ROAD, <br>
                TARAPUR M.I.D.C, <br>
                BOISAR – 401506. <br>
                <a class="text-start text-dark" href="#" class="btn float-start">Get Direction </a>&nbsp;<a class="icons" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </p>
        </div>
        

    </div>
    <div class="col-md-6"></div>
</div>
<div class="container">
    <div class="row">
        <img class="text-center" src="{% static 'main/images/home/logo.png' %}" style="height: 100px;width: 450px;text-align: center;margin-left: 35%;" alt="">
    </div>
    <div class="row"style="margin-top: 50px;margin-bottom: 100px;font-family: 'Saira', sans-serif;">
        <div class="col-md-4">
            <div class="col"style="box-shadow: 0px 1px 3px 2px #c6c6c6;padding: 5px;margin-bottom: 20px;">
                <h2 class="text-start">Dr. Niraj R Zawar</h2>
                <p class="fcolor fs-1 text-start">Director</p>
            </div>
            <p  class="text-start"><i id="id" class="fas fa-phone-square-alt"></i> <a class="text-dark fs-3" href="tel:+917021674647">+91 70216 74647</a></p>
            <p  class="text-start"><i id="id" class="fas fa-mail-bulk"></i> <a class="text-dark fs-3" href="mailto:DRNIRAJ@KAMLAGROUP.CO.IN">DRNIRAJ@KAMLAGROUP.CO.IN</a></p>

        </div>
        <div class="col-md-4"style="">
            <div class="col"style="box-shadow: 0px 1px 3px 2px #c6c6c6;padding: 5px;margin-bottom: 20px;">
                <h2 class="text-start">Dr. Niraj R Zawar</h2>
                <p class="fcolor fs-1 text-start">Director</p>
            </div>
            <p class="text-start"><i id="id" class="fas fa-phone-square-alt"></i> <a class="text-dark fs-3" id="id" href="tel:+917021674647">+91 70216 74647</a></p>
            <p  class="text-start"><i  id="id" class="fas fa-mail-bulk"></i> <a class="text-dark fs-3" href="mailto:DRNIRAJ@KAMLAGROUP.CO.IN">DRNIRAJ@KAMLAGROUP.CO.IN</a></p>

        </div>
        <div class="col-md-4">
            <div class="col"style="box-shadow: 0px 1px 3px 2px #c6c6c6;padding: 5px;margin-bottom: 20px;">
                <h2 class="text-start">Dr. Niraj R Zawar</h2>
                <p class="fcolor fs-1 text-start">Director</p>
            </div>
            <p  class="text-start"><i id="id" class="fas fa-phone-square-alt"></i> <a class="text-dark fs-3" href="tel:+917021674647">+91 70216 74647</a></p>
            <p  class="text-start"><i  id="id" class="fas fa-mail-bulk"></i> <a class="text-dark fs-3" href="mailto:DRNIRAJ@KAMLAGROUP.CO.IN">DRNIRAJ@KAMLAGROUP.CO.IN</a></p>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="bgover">
        <div class="overla"style="background-color: #21352980;">
            <div class="shades">
                <h1>Triple Your Presence</h1>
                <p class="mt-4 fs-2 shadesp">Sed ut perspiciatis unde omnis iste natus error sit <br> voluptatem accusantium.</p>
                <button type="button" class="en open-button" onclick="openForm()" >Enquiry Now</button>  
                <div class="">
                    <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 189px;padding: 204px;top: -510px;left: 500px;">
                        <div class="code code--small code--left aos-init" data-aos="fade-right" style="border: 1px solid white;border-radius: 136px;padding: 5px;background-color: #fff;">
                            <a href="https://facebook.com" class="sicon"><i style="padding-left: 10px;" class="fab fa-facebook-f"></i></a>
                        </div>   
                      </div>
                    <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 189px;padding: 204px;top: -452px;left: 532px;">
                        <div class="code code--small code--right aos-init" data-aos="fade-left" style="border: 1px solid white;border-radius: 136px;padding: 5px;background-color: #fff;">
                            <a href="https://instagram.com" class="sicon"><i style="padding-left: 6px;" class="fab fa-instagram"></i></a>
                        </div>   
                      </div>
                    <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 189px;padding: 204px;top: -384px;left: -210px;">
                      <div class="code code--small code--up aos-init" data-aos="fade-down" style="border: 1px solid white;border-radius: 136px;padding: 5px;background-color: #fff;">
                        <a href="https://twitter.com" class="sicon"><i style="padding-left: 5px;" class="fa-brands fa-twitter"></i></a>
                      </div>   
                    </div>
                    <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 189px;padding: 195px;top: -1030px;left: 740px;">
                        <div class="code code--small code--up aos-init" data-aos="fade-down" style="border: 1px solid white;border-radius: 136px;padding: 12px;background-color: #fff;">
                          <a href="https://youtube.com" class="sicon"><i style="padding-left: 2px;" class="fab fa-youtube"></i></a>
                        </div>   
                    </div>
                </div>
                <div class="form-popup" id="myForm">
                    <form method="post">
                        {% csrf_token %}
            
                        <div class="form-group">
                            {{ form.name }}
                            {% if form.errors.name %}
                                <label for="" class="text-danger">{{ form.errors.name }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email }}
                            {% if form.errors.email %}
                                <label for="" class="text-danger">{{ form.errors.email }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.message }}
                            {% if form.errors.message %}
                                <label for="" class="text-danger">{{ form.errors.message }}</label>
                            {% endif %}
                        </div>
                        <input type="submit" value="Send" style="padding-left: 15px;padding-right: 15px;border-radius: 5px;font-size:20px;color: whitesmoke;background-color: gray;">
                        <button type="button"style="padding-left: 15px;padding-right: 15px;border-radius: 5px;font-size:20px;color: whitesmoke;background-color: red;" onclick="closeForm()">Close</button>
                    </form>
    
                </div>  
            </div>
              
        </div>
    </div>
    
    
</div>
{% endblock content %}

{% comment %} <div class="container">
    <h1 class="text-dark mt-5">CONTACT US</h1>
    <div class="col-md-4">
        <h2 class="text-start">Company Address</h2>
        <h4>Triofit Nutraceutical</h4>
        <p>Lorem, ipsum dolor sit amet consectetur <br> adipisicing elit. Voluptatem debitis doloremque nisi ex, </p>
    </div>
    <div class="col-md-4">
        <ul style="font-size: 18px;margin-top: 60px;">
            <li>Phone: <a class="text-start" href="tel:9975810075">9975810075</a></li>
            <li>E-mail: <a class="text-start" href="mailto:info@triofit.com">info@triofit.com</a></li>
            <li>Phone: <a class="text-start" href="tel:9975810075">9975810075</a></li>
            <li>Website: <a class="text-start" href="nutralike.com">nutralike.com</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <div style="margin-top: 60px;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem consequuntur dolor, exercitationem delectus dolore, fuga </p> 
            <h5 class="fw-bold">Phone General Inquiries Landline: +91 87991 91656</h5>
        </div>
    </div>
</div>

<hr>
<div class="container-fluid my-5">
    <div class="container my-3">
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                {{ form.name }}
                {% if form.errors.name %}
                    <label for="" class="text-danger">{{ form.errors.name }}</label>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email }}
                {% if form.errors.email %}
                    <label for="" class="text-danger">{{ form.errors.email }}</label>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.message }}
                {% if form.errors.message %}
                    <label for="" class="text-danger">{{ form.errors.message }}</label>
                {% endif %}
            </div>
            <input type="submit" value="Send" style="padding: 10px;border-radius: 5px;color: whitesmoke;background-color: gray;
        ">
        </form>
          
    </div>
</div> {% endcomment %}