{% extends 'main/layouts/main.html' %}
{% load static %}
{% block content %}

{% include 'main/inc/navbar.html' %}
<hr>
<h4>Gallery</h4>
<div class="container-fluid" style="background-color:#023020;">
    <div class="container">
        <div class="row">
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/Un.png' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/2.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/3.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/4.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}

