{% extends 'main/layouts/main.html' %}
{% load static %}
{% block content %}

{% include 'main/inc/navbar.html' %}
<div class="container">
    <h2 class="mt-2">gallery</h2>
</div>
<div class="container-fluid sect1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 mb-5">
                <img src="{% static 'main/images/Un1.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
            <div class="col-md-6 mt-5 mb-5">
                <img src="{% static 'main/images/Un2.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6 mt-5 mb-5">
                <img src="{% static 'main/images/Un3.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
            <div class="col-md-6 mt-5 mb-5">
                <img src="{% static 'main/images/Un4.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
        </div>
        <div class="row">
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/Un8.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
            <div class="col mt-5 mb-5 float-start">
                <img src="{% static 'main/images/Un9.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
        </div>
        <div class="row">
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/Un10.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
            <div class="col mt-5 mb-5 float-start">
                <img src="{% static 'main/images/Un11.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
        </div>
        <div class="row">
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/Un12.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
            <div class="col mt-5 mb-5 float-start">
                <img src="{% static 'main/images/Un13.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
        </div>
        <div class="row">
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/Un14.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
            <div class="col mt-5 mb-5 float-start">
                <img src="{% static 'main/images/Un15.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
        </div>
        <div class="row">
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/Un16.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
            <div class="col mt-5 mb-5 float-start">
                <img src="{% static 'main/images/Un17.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
        </div>
        <div class="row">
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/Un18.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
            <div class="col mt-5 mb-5 float-start">
                <img src="{% static 'main/images/Un19.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
        </div>
        <div class="row">
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/Un20.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
            <div class="col mt-5 mb-5 float-start">
                <img src="{% static 'main/images/Un21.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
        </div>
        <div class="row">
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/Un22.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
            <div class="col mt-5 mb-5 float-start">
                <img src="{% static 'main/images/Un23.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
        </div>
        <div class="row">
            <div class="col mt-5 mb-5">
                <img src="{% static 'main/images/Un24.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
            <div class="col mt-5 mb-5 float-start">
                <img src="{% static 'main/images/Un25.webp' %}"class="certify" height="450px" width="550px" alt="cetificates">
            </div>
        </div>
         
    </div>
</div>
{% endblock content %}

