*{
    font-family: 'Roboto', sans-serif;
}
.bgcolor{
    background-color: #dcb061;
}


div>a{
    text-decoration: none;
}
.active{
    font-weight: 800;
}
.checkoutform label{
    font-size: 14px !important;
    font-weight: 600;
}
.checkoutform input{
    font-size: 14px !important;
}
.product-viewtag{
    background-color: red;
    color: antiquewhite;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 22px;
    margin-left: 17.5rem;
    padding: 7px 10px;
    font-weight: 600;
    min-width: 45px;
}
.accor{
    width: 15%;
    margin: 10px;
}