{% comment %} {% extends 'store/layouts/main.html' %}
{% block content %}
{% include 'store/inc/navbar.html' %}
<div class="py-3 bgcolor">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}">Home /</a>
        <a class="text-white" href="{% url 'collection' %}">Collection</a>
        
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Collection</h1>
                <hr>
                <div class="row">
                    {% for item in ne %}
                    <div class="col-md-3">
                        <div class="card">
                            <a href="{% url 'collectionview' item.slug %}">
                                <div class="card-body">
                                    <div class="category-image">
                                        <img src="{{ item.image.url }}" alt="category-image" class="w-100">
                                    </div>
                                    <h4 class="text-center">{{ item.name }}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %} {% endcomment %}