{% extends 'main/layouts/main.html' %}
{% load static %}

{% block content %}
    
{% include 'main/inc/navbar.html' %}
{% include 'main/inc/slider.html' %}

<section class="mt-5">
  <div class="container-fluid pt-4" style="margin-top: 115px;margin-bottom: 115px;">
    <div class="row">
      <div class="col-lg-4" style="margin-top: 70px;">
        <div class="container fs-2 fw-bold" style="margin-left: 230px;">
          <h1 style="font-size: 77px;font-weight: bold;">Triofit</h1>
          <p style="font-size: 30px;">We manufacturing</p>
          <p style="font-size: 30px;">product range in:</p>
        </div>
        <div class="container fs-5 fw-bold" style="margin-left: 230px;">
          <ul style="font-size: 24px;">
            <li style="list-style: disc;">Powder,</li>
            <li style="list-style: disc;">Capsules,</li>
            <li style="list-style: disc;">General tablets,</li>
            <li style="list-style: disc;">Chewable tablets</li>
            <li style="list-style: disc;">Effervescent tablets.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="container-fluid">
          <div class="col">
              <img src="{% static 'main/images/home/2.png' %}" style="width: 400px;" alt="">
              <img src="{% static 'main/images/home/3.png' %}" style="height: 200px;background-blend-mode: overlay;margin-left: -65px;" alt="">
              
              <img src="{% static 'main/images/home/4.png' %}" style="margin-left: -100px;background-blend-mode: overlay;width: 385px;" alt="">
            
          </div>
          <img src="{% static 'main/images/home/1.png' %}" style="background-blend-mode: overlay;       margin-left: 200px;margin-top: -130px;width: 450px;" alt="">
        </div>
      </div>
    </div>
    
  </div>
</section>
<section class="sect1 mt-5" style="margin-top: 115px;margin-bottom: 115px;">
  <div class="container-fluid mt-5">
    <h1 class="text-center pt-5" style="color: #f36100;font-size: 60px;font-weight: bold;">
      Entrepreneur Innovation & Growth
    </h1>
    <div class="container-fluid mt-5">
      <div class="row pt-5 pb-5">
        <div class="col pt-2">
          <div class="containers">
            <img src="{% static 'main/images/home/10.jpg' %}" class="image" style="width: 460px;border-radius: 30px;" alt="">
            <p class="cat12 fw-bold text-white fs-2 text-center">3rd Party Manufacturing</p>
            <div class="middle">              
              <p class="mi">We Manufacture Products For Your Brand.</p>
              <a class=" btn text" href="">Read More</a> 
            </div>
          </div>
        </div>
        <div class="col pt-2">
          <div class="containers">
            <img src="{% static 'main/images/home/11.jpg' %}" class="image" style="width: 460px;border-radius: 30px;" alt="">
            <p class="cat12 fw-bold text-white fs-2 text-center">Nutraceutical Products</p>
            <div class="middle">              
              <p class="mi">We Manufacture Products For Your Brand.</p>
              <a class=" btn text" href="">Read More</a> 
            </div>
          </div>
        </div>
        <div class="col pt-2">
          <div class="containers">
            <img src="{% static 'main/images/home/12.jpg' %}" class="image" style="width: 460px;height:306px; border-radius: 30px;" alt="">
            <p class="cat12 fw-bold text-white fs-2 text-center">Research & Development</p>
            <div class="middle">              
              <p class="mi">We Manufacture Products For Your Brand.</p>
              <a class=" btn text" href="">Read More</a> 
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-5 pb-5">
        <div class="col pt-2">
          <div class="containers">
            <img src="{% static 'main/images/home/10.jpg' %}" class="image" style="width: 460px;border-radius: 30px;" alt="">
            <p class="cat12 fw-bold text-white fs-2 text-center">3rd Party Manufacturing</p>
            <div class="middle">              
              <p class="mi">We Manufacture Products For Your Brand.</p>
              <a class=" btn text" href="">Read More</a> 
            </div>
          </div>
        </div>
        <div class="col pt-2">
          <div class="containers">
            <img src="{% static 'main/images/home/11.jpg' %}" class="image" style="width: 460px;border-radius: 30px;" alt="">
            <p class="cat12 fw-bold text-white fs-2 text-center">Nutraceutical Products</p>
            <div class="middle">              
              <p class="mi">We Manufacture Products For Your Brand.</p>
              <a class=" btn text" href="">Read More</a> 
            </div>
          </div>
        </div>
        <div class="col pt-2">
          <div class="containers">
            <img src="{% static 'main/images/home/13.jpg' %}" class="image" style="width: 460px; height:306px; border-radius: 30px;" alt="">
            <p class="cat12 fw-bold text-white fs-2 text-center">Research & Development</p>
            <div class="middle">              
              <p class="mi">We Manufacture Products For Your Brand.</p>
              <a class=" btn text" href="">Read More</a> 
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  
</section>


 
 <section>
  <div class="container-fluid mt-5">
    <div class="row" style="margin-left: 35px;">
      <div class="col pt-4 pb-3">
        <img src="{% static 'main/images/home/off.jpeg' %}" alt="">
        <h2 class="text-center mt-2 fw-bold fcolor">About Us</h2>
      </div>
      <div class="col pt-4">
        <img src="{% static 'main/images/home/off.jpeg' %}" alt="">
        <h2 class="text-center mt-2 fw-bold fcolor">Why Us</h2>
      </div>
      <div class="col pt-4">
        <img src="{% static 'main/images/home/off.jpeg' %}" alt="">
        <h2 class="text-center mt-2 fw-bold fcolor">Our Services</h2>
      </div>
    </div>
  </div>
</section>



<div class="container-fluid">
  <div class="container mt-5 pt-4 code code--small code--left aos-init" data-aos="fade-up-right">
    <div class="col-md-6 pt-3">
      <img src="{% static 'main/images/home/off.jpeg' %}" style="padding-left:20px"alt="">
    </div>
    <div class="col-md-6">
      <h1 class="fcolor">About Us</h1>
      <p>Triofit Nutracare Pvt.Ltd. is engaged in the business of manufacturing & marketing of healthcare & nutraceutical products.</p>
      <a href="" class="bgncolor text btn">Read More</a>
    </div>
  </div>
  <div class="container mt-5 pt-4 code code--small code--right aos-init" data-aos="fade-up-left">
    
    <div class="col-md-6">
      <h1 class="fcolor">Why Us</h1>
      <p>WIDE RANGE OF READY PRODUCTS & PRIVATE LABELS WITH CUSTOMIZED
        FORMULA SERVICE IN-HOUSE LABORATORY FORPRODUCT DEVELOPMENT</p>
      <a href="" class="bgncolor text btn">Read More</a>

    </div>
    <div class="col-md-6 pt-3">
      <img src="{% static 'main/images/home/off.jpeg' %}" style="padding-left:20px"alt="">
    </div>
  </div>
  <div class="container mt-5 pt-4 code code--small code--left aos-init" data-aos="fade-up-right">
    <div class="col-md-6 pt-3">
      <img src="{% static 'main/images/home/off.jpeg' %}" style="padding-left:20px"alt="">
    </div>
    <div class="col-md-6">
      <h1 class="fcolor">Our Services</h1>
      <p>Triofit Nutracare Pvt.Ltd. is engaged in the business of manufacturing & marketing of healthcare & nutraceutical products.</p>
      <a href="" class="bgncolor text btn">Read More</a>
    </div>
  </div>
</div>


<section class="mt-5">
  <div class="main" id="plans">
    <div id="particles-js" style="background-color: rgba(0,0,0,0.75);"></div>
    <!-- services -->
    
    <div class="services" id="services">
    <div class="container">
    <div class="ser-top wthree-3 wow fadeInDown">
      <h1 class="text-center fcolor mt-4 pt-5">Business Objective / Overview</h1>
        
    </div>
    
    {% comment %} <div class="row">
      <div class="center col-md-4 ser-left wow fadeInDown icon1">
        <h4><a href="#" class="text-white">Third Party</a></h4>
        
        <p><a href="#" class="text-white">Some quick example</a></p>
      </div>
      <div class="col-md-4 ser-left wow fadeInDown icon1">
        <h4><a href="#" class="text-white">Third Party</a></h4>
        
        <p><a href="#" class="text-white">Some quick example</a></p>
      </div>
      <div class="col-md-4 ser-left wow fadeInDown icon1">
        <h4><a href="#" class="text-white">Third Party</a></h4>
        
        <p><a href="#" class="text-white">Some quick example</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ser-left wow fadeInDown icon1">
        <h4><a href="#" class="text-white">Third Party</a></h4>
        
        <p><a href="#" class="text-white">Some quick example</a></p>
      </div>
      <div class="col-md-4 ser-left wow fadeInDown icon1">
        <h4><a href="#" class="text-white">Third Party</a></h4>
        
        <p><a href="#" class="text-white">Some quick example</a></p>
      </div>
      <div class="col-md-4 ser-left wow fadeInDown icon1">
        <h4><a href="#" class="text-white">Third Party</a></h4>
        
        <p><a href="#" class="text-white">Some quick example</a></p>
      </div>
    </div> {% endcomment %}

    <div class="row my-2 pb-1">
      <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 169px;padding: 75px;"> 
        <div class="code code--small code--left aos-init aos-animate" data-aos="fade-up" style="margin-top: 270px;border: 1px solid white;border-radius: 136px;padding: 55px;">
          <h3 class="text-center text-white">3rd Party</h3>
          <p class="text-white text-center fs-5">Some quick example</p>
        </div>                   
      </div>
      <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 169px;padding: 75px;">
        <div class="code code--small code--right aos-init aos-animate" data-aos="fade-down" style="border: 1px solid white;border-radius: 136px;padding: 55px;">
          <h3 class="text-center text-white">3rd party</h3>
          <p class="text-white text-center fs-5">Some quick example</p>
        </div>   
      </div>
      <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 169px;padding: 75px;">
        <div class="code code--small code--left aos-init" data-aos="fade-right" style="margin-top: 270px;border: 1px solid white;border-radius: 136px;padding: 55px;">
          <h3 class="text-center text-white">3rd party</h3>
          <p class="text-white text-center fs-5">Some quick example</p>
        </div>   
      </div>
    </div>
    <div class="row my-2 pt-2 pb-1">
      <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 169px;padding: 75px;"> 
        <div class="code code--small code--right aos-init" data-aos="fade-left" style="border: 1px solid white;border-radius: 136px;padding: 55px;">
          <h3 class="text-center text-white">3rd party</h3>
          <p class="text-white text-center fs-5">Some quick example</p>
        </div>                   
      </div>
      <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 169px;padding: 75px;">
        <div class="code code--small code--left aos-init" data-aos="fade-up-right" style="margin-top: 270px;border: 1px solid white;border-radius: 136px;padding: 55px;">
          <h3 class="text-center text-white">3rd party</h3>
          <p class="text-white text-center fs-5">Some quick example</p>
        </div>   
      </div>
      <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 169px;padding: 75px;">
        <div class="code code--small code--right aos-init" data-aos="fade-up-left" style="border: 1px solid white;border-radius: 136px;padding: 55px;">
          <h3 class="text-center text-white">3rd party</h3>
          <p class="text-white text-center fs-5">Some quick example</p>
        </div>   
      </div>
    </div>

    <div class="clearfix"></div>
    </div>
    </div>
  </div>
    
</section>









<section class="mt-5 mb-5">
  <h1 class="text-center fcolor mt-4 pt-5 pb-5">Business Products</h1>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="{% static 'main/images/home/bu4.jpg' %}" style="width: 365px;height: 230px;" alt="">
        <p class="cat12 fw-bold text-white fs-4 text-center">Powders <br><a class=" btn text" href="">Read More</a></p>
      </div>
      <div class="col">
        <img src="{% static 'main/images/home/bu3.jpeg' %}" style="width: 365px;height: 230px;" alt="">
        <p class="cat12 fw-bold text-white fs-4 text-center">Capsules<br><a class=" btn text" href="">Read More</a></p>
         
      </div>
      <div class="col">
        <img src="{% static 'main/images/home/bu5.jpeg' %}" style="width: 365px;height: 230px;" alt="">
        <p class="cat12 fw-bold text-white fs-4 text-center">General Tablets<br><a class=" btn text" href="">Read More</a></p>
         
      </div>
    </div>
    <div class="row mt-3 text-center pt-2">
      <div class="col">
        <img src="{% static 'main/images/home/bu1.jpg' %}" style="width: 535px;height: 280px;" alt="">
        <p class="cat12 fw-bold text-white fs-4 text-center">Effervescent Tablets<br><a class="btn text" href="">Read More</a></p>
      </div>
      <div class="col">
        <img src="{% static 'main/images/home/bu6.jpg' %}" style="width: 535px;height: 280px;" alt="">
        <p class="cat12 fw-bold text-white fs-4 text-center">Chewable Tablets<br><a class="btn text" href="">Read More</a></p>
        
      </div>
    </div>
  </div>
</section>



{% comment %} 
<section class="mt-5">
  <div class="main" id="plans">
    <div id="particles-js" style="background-color: rgba(204,204,204,0.75);"></div>
    <!-- services -->
    
    <div class="services" id="services">
      <div class="container">
        <div class="ser-top wthree-3 wow fadeInDown">
          <h1 class="text-center fcolor mt-4 pt-5">Business Objective / Overview</h1>
            
        </div>
      </div>
    

    <div class="row my-2 pb-1">
      <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 169px;padding: 75px;"> 
        <div class="code code--small code--left aos-init aos-animate" data-aos="fade-up" style="margin-top: 270px;border: 1px solid white;border-radius: 136px;padding: 55px;">
          <h3 class="text-center text-white">3rd Party</h3>
          <p class="text-white text-center fs-5">Some quick example</p>
        </div>                   
      </div>
      <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 169px;padding: 75px;">
        <div class="code code--small code--right aos-init aos-animate" data-aos="fade-down" style="border: 1px solid white;border-radius: 136px;padding: 55px;">
          <h3 class="text-center text-white">3rd party</h3>
          <p class="text-white text-center fs-5">Some quick example</p>
        </div>   
      </div>
      <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 169px;padding: 75px;">
        <div class="code code--small code--left aos-init" data-aos="fade-right" style="margin-top: 270px;border: 1px solid white;border-radius: 136px;padding: 55px;">
          <h3 class="text-center text-white">3rd party</h3>
          <p class="text-white text-center fs-5">Some quick example</p>
        </div>   
      </div>
    </div>
    <div class="row my-2 pt-2 pb-1">
      <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 169px;padding: 75px;"> 
        <div class="code code--small code--right aos-init" data-aos="fade-left" style="border: 1px solid white;border-radius: 136px;padding: 55px;">
          <h3 class="text-center text-white">3rd party</h3>
          <p class="text-white text-center fs-5">Some quick example</p>
        </div>                   
      </div>
      <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 169px;padding: 75px;">
        <div class="code code--small code--left aos-init" data-aos="fade-up-right" style="margin-top: 270px;border: 1px solid white;border-radius: 136px;padding: 55px;">
          <h3 class="text-center text-white">3rd party</h3>
          <p class="text-white text-center fs-5">Some quick example</p>
        </div>   
      </div>
      <div class="col-md-4" style="border: 1px solid rgba(0,0,0,0.01);border-radius: 169px;padding: 75px;">
        <div class="code code--small code--right aos-init" data-aos="fade-up-left" style="border: 1px solid white;border-radius: 136px;padding: 55px;">
          <h3 class="text-center text-white">3rd party</h3>
          <p class="text-white text-center fs-5">Some quick example</p>
        </div>   
      </div>
    </div>
    </div>
  </div>
    
</section> {% endcomment %}

{% endblock content %}
{% comment %} <section class="section">
  <div class="container">
    <h2 class="section-title text-center fcolor">Business Objective / Overview</h2>
    <div class="row">
      <div class="col code code--small code--left aos-init aos-animate" data-aos="fade-up">
        <div class="col-md-4">
          <div class="2">
            <h3 class="text-center text-dark">3rd party manufacturing</h3>
            <p class="text-warning text-center fs-5">Some quick example</p>
          </div>   
        </div>
      </div>
      <div class="col code code--small code--right aos-init aos-animate" data-aos="fade-down">
        <div class="col-md-4">
          <div class="2">
            <h3 class="text-center text-dark">3rd party manufacturing</h3>
            <p class="text-warning text-center fs-5">Some quick example</p>
          </div>   
        </div>
      </div>
      <div class="col code code--small code--left aos-init" data-aos="fade-right">
        <div class="col-md-4">
          <div class="2">
            <h3 class="text-center text-dark">3rd party manufacturing</h3>
            <p class="text-warning text-center fs-5">Some quick example</p>
          </div>   
        </div>
      </div>
      <div class="col code code--small code--right aos-init" data-aos="fade-left">
        <div class="col-md-4">
          <div class="2">
            <h3 class="text-center text-dark">3rd party manufacturing</h3>
            <p class="text-warning text-center fs-5">Some quick example</p>
          </div>   
        </div>
      </div>
      <div class="col code code--small code--left aos-init" data-aos="fade-up-right">
        <div class="col-md-4">
          <div class="2">
            <h3 class="text-center text-dark">3rd party manufacturing</h3>
            <p class="text-warning text-center fs-5">Some quick example</p>
          </div>   
        </div>
      </div>
    </div>
    <div>
      <div class="col code code--small code--right aos-init" data-aos="fade-up-left">
        <div class="col-md-4">
          <div class="2">
            <h3 class="text-center text-dark">3rd party manufacturing</h3>
            <p class="text-warning text-center fs-5">Some quick example</p>
          </div>   
        </div>
      </div>
      <div class="col code code--small code--left aos-init" data-aos="fade-down-right">
        <div class="col-md-4">
          <div class="2">
            <h3 class="text-center text-dark">3rd party manufacturing</h3>
            <p class="text-warning text-center fs-5">Some quick example</p>
          </div>   
        </div>
      </div>
      <div class="col code code--small code--right aos-init" data-aos="fade-down-left">
        <div class="col-md-4">
          <div class="2">
            <h3 class="text-center text-dark">3rd party manufacturing</h3>
            <p class="text-warning text-center fs-5">Some quick example</p>
          </div>   
        </div>
      </div>
    </div>
    </div>
</section> {% endcomment %}