

/*--services--*/
.services {
     position: absolute;
    top: 5%;
    left: 10%;
}
h3.gg.three {
    color: #fff;
}
.priceing-table-grids {
    width: 100%;
	 margin: 3em 0 0 0;
}
.ser-top {
    margin-bottom: 5em;
}
span.glyphicon.glyphicon-tasks,span.glyphicon.glyphicon-sort-by-attributes,span.glyphicon.glyphicon-object-align-vertical,span.glyphicon.glyphicon.glyphicon-send,span.glyphicon.glyphicon-cog,span.glyphicon.glyphicon-phone,span.glyphicon.glyphicon-time {
    font-size: 3em;
    color:#fa3d43;
}
.icon1 span.glyphicon.glyphicon-tasks {
    color: #3cb9a9;
}
.icon2 span.glyphicon.glyphicon-sort-by-attributes{
    color:#eaef22;
}
.icon3 span.glyphicon.glyphicon-object-align-vertical {
    color:#1a9ada;
}
.icon4 span.glyphicon.glyphicon.glyphicon-send {
    color: #27f52f;
}
.icon5 span.glyphicon.glyphicon-cog {
    color: #fff;
}
.icon6  span.glyphicon.glyphicon-phone{
    color: #fff;
}
.icon7 span.glyphicon.glyphicon-time {
    color: #fff;
}

span.glyphicon.glyphicon-time {
    color: #d431a8;
}
.ser-left {
    text-align: center;
    margin-bottom: 2em;
}
.services h4 {
    font-size: 1.4em;
    margin: 1em 0 0;
    color: #fff;
}
.services p {
    font-size: 1em;
    line-height: 1.8em;
    color: rgba(255, 255, 255, 0.59);
    margin: 1em 0;
}
.ser-top p {
    width: 60%;
  margin: 2em auto;
}
.ser-btm {
    margin-top: 3em;
}
/*--services--*/

.cw-mod-contact-light-clean100 {
    width: 100%;
}
.cw-mod-contact-light-clean100, .cw-mod-contact-light-clean90, .cw-mod-contact-light-clean80, .cw-mod-contact-light-clean70, .cw-mod-contact-light-clean60, .cw-mod-contact-light-clean50 {
    margin-left: auto;
    margin-right: auto;
}
.cw-mod-contact-light-clean100 {
    padding: 22px !important;
}

#cw-mod-contact-light-clean {
    margin: 0 0 5px 0;
    padding: 0 5px;
}
#cw-mod-contact-light-clean form {
    margin: 0;
    padding: 0;
}
#cw-mod-contact-light-clean label {
    margin-bottom: 4px;
    display: inline-block;
    width: 100%;
}
#cw-mod-contact-light-clean label {
    color: #fff !important;
}
label {
    font-weight: normal;
	max-width: 100%;
}
#cw-mod-contact-light-clean select, #cw-mod-contact-light-clean textarea, #cw-mod-contact-light-clean input[type="text"], #cw-mod-contact-light-clean input[type="password"], #cw-mod-contact-light-clean input[type="datetime"], #cw-mod-contact-light-clean input[type="datetime-local"], #cw-mod-contact-light-clean input[type="date"], #cw-mod-contact-light-clean input[type="month"], #cw-mod-contact-light-clean input[type="time"], #cw-mod-contact-light-clean input[type="week"], #cw-mod-contact-light-clean input[type="number"], #cw-mod-contact-light-clean input[type="email"], #cw-mod-contact-light-clean input[type="url"], #cw-mod-contact-light-clean input[type="search"], #cw-mod-contact-light-clean input[type="tel"], #cw-mod-contact-light-clean input[type="color"], #cw-mod-contact-light-clean .uneditable-input {
    display: inline-block;
    box-sizing: content-box;
    width: 90%;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 13px;
    color: #555;
    border-radius: 0;
    border: 1px solid #ddd;
    background: none repeat scroll 0% 0% #fff;
    box-shadow: none;
}
#cw-mod-contact-light-clean .invalid {
    font-weight: normal!important;
    color: #ff8400!important;
    box-shadow: none!important;
    border-color: #f7a042!important;
}
#cw-mod-contact-light-clean label {
    margin-bottom: 4px;
    display: inline-block;
    width: 100%;
}
#cw-mod-contact-light-clean label {
    margin-bottom: 4px;
    display: inline-block;
    width: 100%;
}
.sectionContainer2 {
    text-align: center;
}
.sectionContainer2 h1 {
    color: #d31f63;
    font-size: 40px;
    padding-bottom: 25px;
}
.sectionContainer2 p {
    font-size: 20px;
    line-height: 27px;
}
.planGrid {
    margin-top: 40px;
    position: relative;
    text-align: center;
}
.sti-menu {
    width: 100%;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: center;
}
ul, li {
    list-style: none;
}
.sti-menu li {
    display: inline-block;
    width: 33.33%;
    height: 300px;
    margin-top: -3px;
}
.sti-menu li a {
    display: block;
    overflow: hidden;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
}
a {
    color: inherit;
    text-decoration: none;
    outline: none;
    transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.sti-menu li a h1 {
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    padding: 10px;
    width: 100%;
    left: 0px;
}
.sti-menu li a h2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    padding: 10px;
    width: 100%;
    left: 0px;
}
.sti-menu li a h3 {
    font-size: 15px;
    font-weight: normal;
    line-height: 19px;
    position: absolute;
    left: 0px;
    opacity: 0;
    padding: 0 5%;
}
.sti-icon {
    width: 100px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
    background-color: transparent;
    left: 50px;
}
.freequote {
    width: 156px;
    height: 56px;
    background: url(../images/enquiry.png) no-repeat center;
    display: block;
    float: none;
    position: absolute;
    top: 0px;
    left: 100%;
    margin-left: -200px;
    text-align: center;
    z-index: 2;
}
.freequote a {
    width: 156px;
    height: 56px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 46px;
    display: block;
    float: none;
    text-align: center;
}
.panel {
    width: 100%;
    height: 666px;
    background: #00aeef url(../images/panelbg.png) repeat;
    display: none;
}
.panelouter {
    width: 960px;
    height: auto;
    float: none;
    display: block;
    margin: 0 auto;
}
.panelfixer {
    width: 960px;
    height: auto;
}
.panelleft {
    width: 355px;
    height: auto;
    margin: 40px 20px 0px 0px;
    font-size: 17px;
    color: #002d41;
    line-height: 30px;
    float: left;
}
.panelleft b, .panelright b {
    width: 350px;
    font-size: 31px;
    font-weight: normal;
    color: #F5F5F5;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
}
.panelright {
    width: 450px;
    height: auto;
    margin: 40px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: #002d41;
    line-height: 30px;
    float: right;
}
.outer {
    width: 100%;
    height: auto;
    background: url(../images/topbgtile.png) repeat-x top;
    position: relative;
    overflow: hidden;
}
.flip {
    width: 100%;
    height: 5px;
    background: #00aeef;
    border-bottom: 1px solid #0083b4;
}
body{
	margin:0;
	font-family: 'Source Sans Pro', sans-serif;
	background: #fff;
	overflow-x:hidden !important;  
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
	outline:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;

	font-family: 'Arapey', serif;

}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
body a:focus {
    outline: none;
	text-decoration:none;
}
/*-- banner --*/ 
.aa{
	position: relative;
}   
.cc {
   position: absolute;
    bottom: 17%;
    left: 48.5%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
    z-index: 99;
}
.cc i {
    color: #168eea;
    padding: 22px 13px;
    border: 2px dashed #fff;
    border-radius: 20px;
    font-size: 18px;
}
@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -ms-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -o-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -moz-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}
/*-- hover-effect --*/
/*-- about --*/
  .ab-w3-agile-img {
    background: url(../images/ab.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      min-height: 750px;
    padding-top: 3em;
	float:right;
}
.ee{
float:left;
	
}
h2.gg {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #111;
}
.ff {
    padding: 5em 2em 0em 4em;
}
p.sub-text.one {
    text-align: left;
}
.ee p {
    font-size:1em;
    letter-spacing:2px;
    color: #777;
	margin:1em 0;
	line-height:2em;
}
.jj1 {
    padding: 0;
    background: #168eea;
    padding: 4.7em 3em;
}
.jj1 h4 {
    font-size: 2em;
    color: #000;
    letter-spacing: 2px;
}
.jj1:nth-child(2) {
	   background: #ee4f4f;
}
.jj {
    margin-top: 1em;
}
.jj1 p {
    color: #fff;
}
.ii.menu a {
    color: #168eea;
    margin-top: 1em;
}
.ii.menu a:before,.ii.menu a:after {
    content: '';
    background: #ee4f4f;
    width: 85%;
    height: 2px;
    position: absolute;
    left: 105%;
    top: 46%;
}

/*-- //about --*/

/*-- /classes--*/
#classes,#instructors {
	  padding:5em 0;
}
.wthree-agile-classes-section {
    margin-top: 3em;
}
.class-grid-img{
	position:relative;
}
.class-grid {
    width: 24%;
    margin-right: 1%;
	text-align:center;
	position:relative;
}
.class-grid.lost {
    margin-right: 0;
}
.class-grid img {
    width: 100%;
}

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #168eea;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index:99;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.caption{
  display:none;	
}
.class-grid-img:hover .caption{
	 display:block;
	 position:absolute;
	 top:45%;
	 left:30%;
	 z-index:999;
	 
}
.caption h5{
	font-size:2em;
	color:#fff;
	letter-spacing:2px;
}
.class-grid h4 {
    font-size: 1.4em;
    margin-top: 1em;
    color: #111;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*-- //classes--*/
#plans {
	 background: url()no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
	 position:relative;
}
/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#particles-js1{
  width: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#particles-js2{
  width: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
canvas.particles-js-canvas-el{
    height:1550px!important;
}
/*--test--*/
#monials {
	 background:url(../images/image1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
	 position:relative;
}
/*-- client --*/
.client-agile-info {
    background: #ef4d4a;
    padding: 5em 0;
}
.agileits-clients {
       margin-top: 5em;
}
h3.tittle.two {
    color: #fff;
	text-align: center;
}
.client_agile_info {
  border-bottom: 5px solid #168eea;
    background: rgba(12, 12, 12, 0.61);
    padding: 2em;
}
.client_agile_info img {
    width:9%;
	border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
}
.c-img i{
	 color:#fff;
	font-size: 2em;
	 margin-right:0.5em;
}
.agileits-clients h4 {
    color: #ee4f4f;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 2px;
}
.agileits-clients p {
    color: #e0dbdb;
    line-height: 2em;
    font-size: 1.15em;
    margin: 1em 0;
    letter-spacing: 2px;
}
.client-top {
    position: absolute;
    top: 19%;
    width: 50%;
    left: 28%;
    text-align: center;
}
/*-- //client --*/
/*--test--*/
/*--team--*/
.team-grids {
       margin: 4em 0 1em 0;
}
.team-grid:nth-child(4),.team-grid:nth-child(5),.team-grid:nth-child(6){
	margin:4em 0 0 0;
}
.ih-item.circle {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    margin: 0 auto;
}
.ih-item.circle .img {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
    border-radius: 50%;
    width: 100%;
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ih-item.circle.effect10 .img {
  z-index: 11;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect10.colored .info {
  background: #1a4a72;
}
.ih-item.circle.effect10 .info {
      background: #168eea;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect10 .info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.ih-item.circle.effect10 .info p {
  color: #bbb;
  font-style: italic;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.ih-item.circle.effect10:hover .info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.ih-item.circle.effect10.top_to_bottom .info h3 {
  margin: 0 30px;
  padding: 25px 0 0 0;
  height: 78px;
}
.ih-item.circle.effect10.top_to_bottom .info p {
  margin: 0 30px;
  padding: 5px;
}
.ih-item.circle.effect10.top_to_bottom:hover .img {
  -webkit-transform: translateY(50px) scale(0.5);
  -moz-transform: translateY(50px) scale(0.5);
  -ms-transform: translateY(50px) scale(0.5);
  -o-transform: translateY(50px) scale(0.5);
  transform: translateY(50px) scale(0.5);
}

.ih-item.circle.effect10.bottom_to_top .info h3 {
        margin: 7.5em 0 1em 0;
    font-size: 1.2em;
    color: #FFF;
	    letter-spacing: 2px;
}
.ih-item.circle.effect10.bottom_to_top .info p {
  margin: 0 30px;
  padding: 5px;
}
.ih-item.circle.effect10.bottom_to_top:hover .img {
  -webkit-transform: translateY(-50px) scale(0.5);
  -moz-transform: translateY(-50px) scale(0.5);
  -ms-transform: translateY(-50px) scale(0.5);
  -o-transform: translateY(-50px) scale(0.5);
  transform: translateY(-50px) scale(0.5);
}
.icons ul{
	padding:0;
	margin:0;
}
.icons ul li{
	display:inline-block;
}
.icons ul li.team-twitter{
	margin:0 1em;
}
.icons ul li a{
	color: #FFFFFF;
    text-align: center;	
}
.icons ul li a:hover{
	opacity:.5;
}
/*-- //team --*/
/*-- price --*/
/*-- Contact --*/



h3.gg {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #111;
}
h3.gg.con {
	color:#fff;
}
@media(max-width:1440px){
	.banner-top,.banner-top1,.banner-top2{
		min-height:680px;
	}
	.agileits-banner-info {
		text-align: center;
		padding: 20em 0 0em;
	}
	.agileits-banner-info h3 {
		font-size: 3.5em;
		letter-spacing: 13px;
	}
	h3.gg {
		text-align: center;
		font-size: 2.7em;
	}
	.jj1 {
		padding: 0;
		padding:4em 3em;
	}
	h2.gg {
		font-size: 2.5em;
		text-transform: uppercase;
		letter-spacing: 5px;
	}
	.callbacks_tabs {
		position: absolute;
		top: 41%;
		left: 9%;
	}
	#classes, #instructors {
		padding: 4em 0;
	}
}
@media(max-width:1366px){
	.price-gd-top h3 {
		padding: 0.2em 0em 0em 0em;
		font-size: 4em;
	}
	.price-gd-top h4 {
      font-size: 1.3em;
	}
	.priceing-table-main {
		position: absolute;
		top: 15%;
		left: 16%;
		width: 66%;
	}
}
@media(max-width:1280px){
	h3.gg {
		text-align: center;
		font-size: 2.3em;
	}
	.client-top {
		position: absolute;
		top: 19%;
		width: 61%;
		left: 19%;
		text-align: center;
	}
	
	.jj1{
		padding: 0;
		padding: 3em 2em;
	}
	.class-grid h4 {
		font-size: 1.3em;
		margin-top: 1em;
	}
	.callbacks_tabs {
		position: absolute;
		top: 41%;
		left: 4%;
	}
}
@media(max-width:1080px){
	.agileits-banner-info h3 {
		font-size: 3em;
		letter-spacing: 10px;
	}
	.agileits-banner-info p {
		font-size: 1em;
		letter-spacing: 8px;
		margin: 2em auto;
		width: 57%;
	}
	.agileits-banner-info {
		text-align: center;
		padding: 16em 0 0em;
	}
	.cc {
		position: absolute;
	    bottom: 14%;
		left: 48.5%;
	}
	.banner-top, .banner-top1, .banner-top2 {
		min-height:565px;
	}
	.cc i {
		padding: 19px 11px;
		border-radius: 20px;
		font-size: 18px;
	}
	.jj1 h4 {
      font-size: 1.8em;
	}
	.ff {
		padding: 3em 2em 0em 3em;
	}
	.jj {
		margin-top: 3em;
	}
	#classes, #instructors {
		padding: 3em 0;
	}
	.jj1 {
		padding: 0;
		    padding: 3.1em 1.6em;
	}
	.priceing-table-main {
		position: absolute;
		top: 15%;
		left: 10%;
		width: 80%;
	}
	.con-bot p {
		line-height: 30px;
		font-size: 1em;
		letter-spacing: 1px;
	}
	.contact-top {
		position: absolute;
		width: 79%;
		left: 10%;
		top: 11%;
	}
	.agileits-clients {
		margin-top: 3em;
	}
	.client-top {
		position: absolute;
		top: 15%;
		width: 61%;
		left: 19%;
	}
	.wthree-agile-classes-section {
		margin-top: 2em;
	}
}
@media(max-width:1024px){
	.callbacks_tabs {
		position: absolute;
		top: 41%;
		left: 3%;
	}
	.jj1 {
		padding: 0;
		padding: 2.1em 1.6em;
	}
	.priceing-table-main {
		position: absolute;
		top: 15%;
		left: 8%;
		width: 83%;
	}
	.client-top {
		position: absolute;
		top: 15%;
		width: 61%;
		left: 18%;
	}
	.left-bw3 {
		float: left;
		width: 50%;
		padding: 5em 1.6em;
	}
	.right-bw3 {
		float: right;
		width: 50%;
		padding: 5em 1.6em;
	}
}
@media(max-width:991px){
	.agileits-banner-info p {
		font-size: 1em;
		letter-spacing: 8px;
		margin: 2em auto;
		width: 74%;
	}
	.ab-w3-agile-img {
		min-height: 490px;
		padding-top: 0;
		float: none;
		width:100%;
	}
	.ee {
		float: none;
		padding: 0;
		width: 100%;
	}
	.class-grid {
		width: 49%;
		margin-right: 1%;
		text-align: center;
		position: relative;
		float: left;
	}
	.class-grid h4 {
		font-size: 1.3em;
		margin-top: 0;
		margin: 1em 0 2em 0;
	}
	.price-grid {
		float: left;
		width: 25%;
	}
	.price-gd-top h3 {
		padding: 0.2em 0em 0em 0em;
		font-size: 3em;
	}
	.left-bw3 {
		float: left;
		width: 50%;
		padding: 2em 1.6em;
	}
	.right-bw3 {
		float: right;
		width: 50%;
		padding: 2em 1.6em;
	}
	.agileits-banner-info h3 {
		font-size: 2.5em;
		letter-spacing: 9px;
	}
	.ii a {
		font-size: 15px;
		letter-spacing: 2px;
		position: relative;
	}
	.modal-content h5 {
      font-size: 1.5em;
	}
	
}
@media(max-width:800px){
	.price-gd-top h4 {
		font-size: 1.05em;
	}
	h3.gg {
		text-align: center;
		font-size: 2em;
	}
	h6.bed {
		font-size: 2.5em;
		margin: 2px 0;
	}
	canvas.particles-js-canvas-el {
		height: 510px!important;
	}
	.agileits-clients p {
		line-height: 2em;
		font-size: 1em;
		margin: 1em 0;
		letter-spacing: 2px;
	}
	.agileits-clients {
		margin-top: 2em;
	}
	.agileits-clients h4 {
		font-size: 1.1em;
		letter-spacing: 2px;
	}
	.client-top {
		position: absolute;
		top: 15%;
		width: 71%;
		left: 13%;
	}
	.contact-top {
		position: absolute;
		width: 85%;
		left: 6%;
		top: 8%;
	}
	p.sub-text {
		letter-spacing: 7px;
	}
	.navbar-right {
		float: right !important;
		margin-right: 0px!important;
		margin-top: 5px;
	}
	.price-grid {
		float: left;
		width: 25%;
		padding: 0 5px;
	}
}
@media(max-width:768px){
	.ff {
		padding: 3em 1em 0em 2em;
	}
	.jj1 {
		padding: 2em 1.6em;
	}
	.ab-w3-agile-img {
		min-height: 444px;
		padding-top: 0;
		float: none;
		width: 100%;
	}
	.price-gd-top h4 {
		font-size: 1em;
	}
	.price-grid {
		float: left;
		width: 25%;
		padding: 0 5px;
	}
	.ih-item.circle {
		position: relative;
		width: 200px;
		height: 200px;
	}
	.ih-item.circle .img {
		position: relative;
		width: 200px;
		height: 200px;
	}
	.contact_form input[type="submit"] {
		padding: 11px 30px;
		font-size: 15px;
	}
	h2.gg {
		font-size: 2.3em;
		letter-spacing: 5px;
	}
	
}
@media(max-width:950px){
	.slid-info {
    width:100%;
}	 
	.banner-text {
		padding: 17em 0 8em;
	}
	.agile-footer h6 { 
		margin: 0 0 1em 0; 
	}
	.agileits-banner-info {
		text-align: center;
		padding: 12em 0 0em;
	}
	.team-grid {
		float: left;
	}
	canvas.particles-js-canvas-el {
		height: 1400px!important;
	}
	#map {
		width: 100%;
		height: 302px;
	}
   .grid_6.c1 {
		float: left;
		width: 50%;
   }
   .contact_form input[type='text'], .contact_form input[type="email"],.contact_form textarea {
		width: 100%;
		font-size: 14px;
		padding: 8px 12px 8px;
		height: 50px;
		margin: 0 0 9px;
	}
	.contact_form textarea {
      height: 169px;

    }
	.hidden-xs {
		display: block!important;
	}
}
@media(max-width:736px){
	.team-grid {
		float: left;
		width: 50%;
	}
	.team-grid:nth-child(4),.team-grid:nth-child(3),.team-grid:nth-child(5), .team-grid:nth-child(6) {
		margin: 3em 0 0 0;
	}
	.priceing-table-grids {
		width: 100%;
		margin: 2em 0 0 0;
	}
	h3.gg {
		text-align: center;
		font-size: 1.8em;
		letter-spacing: 3px;
	}
	h2.gg {
		font-size: 2em;
		letter-spacing:3px;
	}
}
@media(max-width:667px){
	#classes {
		padding: 3em 0 2em 0;
	}
	.cont-top h5 {
      font-size: 1.5em;
	}
} 
@media(max-width:640px){
	.banner-top, .banner-top1, .banner-top2 {
		min-height: 395px;
	}
	.agileits-banner-info h3 {
		font-size: 2em;
		letter-spacing: 7px;
	}
	.agileits-banner-info p {
		font-size: 0.85em;
		letter-spacing: 7px;
		margin: 2em auto;
		width: 74%;
	}
	.agileits-banner-info {
		text-align: center;
		padding: 10em 0 0em;
	}
	.cc i {
		padding: 16px 8px;
		border-radius: 20px;
		font-size: 15px;
	}
	.priceing-table-main {
		position: absolute;
		top: 12%;
		left: 5%;
		width: 89%;
	}
	.agileits-clients p {
		line-height: 2em;
		font-size: 0.9em;
		margin: 1em 0;
		letter-spacing: 2px;
	}
	.ab-w3-agile-img {
		min-height: 387px;
		padding-top: 0;
		float: none;
		width: 100%;
	}
}
@media(max-width:600px){
	.price-gd-top h4 {
		font-size: 0.9em;
	}
	.client_agile_info img {
      width: 14%;
	}
	.client_agile_info {
		padding: 1em;
	}
	h3.gg {
		text-align: center;
		font-size: 1.6em;
		letter-spacing: 3px;
	}
	h1 a.navbar-brand {
		font-size: 1em;
	}
	.callbacks_tabs a:after {
		height: 12px;
		width: 12px;
	}
	.price-gd-top h3 {
		padding: 0.2em 0em 0em 0em;
		font-size: 2.5em;
	}
	.jj1 p {
		margin: 0;
	}
	.team-grids {
		margin: 3em 0 0em 0;
	}
	.modal-content p {
		font-size: 1em;
		line-height: 2em;
		margin: 0.5em 0 1em 0;
		letter-spacing: 1px;
	}
}
@media(max-width:480px){
	.slid-info {
    width:100%;
}
	.price-gd-top h4 {
		font-size:1.2em;
	}
	.agileits-banner-info h3 {
		font-size: 2em;
		letter-spacing: 4px;
	}
	.agileits-banner-info p {
		font-size: 0.85em;
		letter-spacing: 5px;
		margin: 1em auto;
		width: 82%;
	}
	.agileits-banner-info {
		text-align: center;
		padding: 9em 0 0em;
	}
	.cc i {
		padding: 13px 6px;
		font-size: 13px;
	}
	.ee p {
		font-size: 1em;
		letter-spacing: 2px;
		margin: 0em 0 1em 0;
		line-height: 2em;
	}
	.caption h5 {
		font-size: 1.4em;
		letter-spacing: 2px;
	}
	.price-grid {
		float: left;
		width: 50%;
		padding: 0 5px;
	}
	canvas.particles-js-canvas-el {
		    height: 1900px!important;
	}
	.priceing-table-main {
		position: absolute;
		top: 5%;
		left: 5%;
		width: 89%;
	}
	.price-grid {
		float: left;
		width: 50%;
		padding: 0 10px;
		margin-bottom: 1.5em;
	}
	.ih-item.circle.effect10.bottom_to_top .info h3 {
		margin: 8em 0 1em 0;
		font-size: 1em;
		color: #FFF;
		letter-spacing: 2px;
	}
	canvas.particles-js-canvas-el:nth-child(2){
		     height: 535px!important;
	}
	.grid_6.c1 {
		float:none;
		width: 100%;
		    padding: 0;
	}
	.left-bw3 {
		float: none;
		width: 100%;
		padding: 1em 1.6em;
	}
	.left-bw3 h5, .right-bw3 h5 {
		font-size: 1.7em;
		padding-bottom: 0.5em;
	}
	.right-bw3 {
		float: none;
		width: 100%;
		padding: 1em 1.6em;
	}
	.contact {
      padding-bottom: 0em;
	}
	h3.gg.three {
		line-height: 1.6em;
	}
	.agileits-clients {
		margin-top: 5em;
	}
	.callbacks_nav.prev {
		left: auto;
		background: url(../images/left.png) no-repeat 0px 0px;
		left: -49px;
	}
	.callbacks_nav.next {
		left: auto;
		background: url(../images/right.png) no-repeat 0px 0px;
		right: -51px;
	}
	.c-img i {
		font-size: 3em;
		margin-right: 0.5em;
	}
	.client_agile_info {
		padding: 2em;
	}
	.navbar-brand {
		float: left;
		height: 50px;
		padding: 15px 10px;
	}
	.class-grid {
		width: 49%;
		margin-right: 1%;
		text-align: center;
		position: relative;
		float: left;
		padding: 0 3px;
	}
	.price-gd-bottom {
		padding: 0.5em 0em;
	}
	.ab-w3-agile-img {
		min-height: 338px;
		padding-top: 0;
		float: none;
		width: 100%;
	}
	form.contact_form {
		text-align: center;
		margin-top: 24px;
	}
	.modal-content h5 {
		font-size: 1.3em;
	}
}
@media(max-width:414px){
	.team-grid:nth-child(4), .team-grid:nth-child(3), .team-grid:nth-child(5), .team-grid:nth-child(6) {
		margin: 2em 0 0 0;
	}
	.ih-item.circle .img {
		position: relative;
		width: 160px;
		height: 160px;
	}
	.ih-item.circle {
		position: relative;
		width:160px;
		height:160px;
	}
	.agileits-banner-info h3 {
		font-size: 1.5em;
		letter-spacing: 4px;
	}
	.agileits-banner-info p {
		font-size: 0.83em;
		letter-spacing: 4px;
		margin: 1em auto;
		width: 82%;
	}
	.ih-item.circle.effect10.bottom_to_top .info h3 {
		margin: 6em 0 1em 0;
		font-size: 1em;
		color: #FFF;
		letter-spacing: 2px;
	}
	h6.bed {
		font-size: 2.1em;
		margin: 2px 0;
	}
	.agileits-banner-info {
		text-align: center;
		padding: 8em 0 0em;
	}
	.banner-top, .banner-top1, .banner-top2 {
		min-height: 300px;
	}
	.cc {
		position: absolute;
		bottom: 17%;
		left: 48.5%;
	}
	
	.team-grid:nth-child(1),.team-grid:nth-child(3),.team-grid:nth-child(5) {
		padding-left:0;
	}
}
