{% extends 'store/layouts/main.html' %}
{% load static %}


{% block content %}
    
{% include 'store/inc/navbar.html' %}
<section>
    <div class="container">
        <div class="col-lg-12">
            <div class="col">
                <div class="row text-center">
                    <h1>Dead Skin Cells</h1>
                </div>
                <div class="row text-center">
                    <h2>Deadlock For Your Creams, Serums  Lotions</h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'store/inc/slider.html' %}

   {% comment %} section first start {% endcomment %}
   <section>
    <div class="container rte-1 mt-2">
        <div class="row text-center">
            <h2>
                <span>
                    <strong>Only A Peeling Solution</strong>
                </span>
            </h2>
            <h2 class="rte">
                <span>
                    <strong>Can open dead lock<br>
                        by Scientific Desquamation
                    </strong>
                </span>
            </h2>
            <h2 class="rte">
                <span>
                    <strong>Twice Weekly use of peels ensure your daily regaime work for you
                    </strong>
                </span>
            </h2>
        </div>
    </div>
</section>

{% comment %} section first end {% endcomment %}

{% comment %} section second end {% endcomment %}
<section>
    <div class="container rte-1 mt-5">
        <div class="row text-center">
            <h2>
                <span>
                    <strong>Choose Right Peel From Alpha, M-Beta, Meta & Body</strong>
                </span>
            </h2>
            <h2 class="rte">
                <span>
                    <strong>Ask Our Skin Expert On WhatsApp
                    </strong>
                </span>
            </h2>
            <h2 class="rte">
                <span>
                    <strong>Instapeels Are Made From Raw Materials Imported from Chemours & Merck, USA
                    </strong>
                </span>
            </h2>
        </div>
    </div>
</section>
{% comment %} section second end {% endcomment %}

{% comment %} section third end {% endcomment %}
<section>
    <div class="container rte-1 mt-5">
        <div class="row text-center">
            <h2>
                <span>
                    <strong>AHA / BHA peels are powered by R R R</strong>
                </span>
            </h2>
            <h2 class="rte">
                <span>
                    <strong>Repair Replenish Refresh
                    </strong>
                </span>
            </h2>
            <h2 class="rte">
                <span>
                    <strong>To address  issues like Roughness, Pigmentation, Acne
                    </strong>
                </span>
            </h2>
        </div>
    </div>
</section>
{% comment %} section third end {% endcomment %}


{% comment %} section fourth end {% endcomment %}
<section>
    <div class="container rte-1 mt-5">
        <div class="row text-center">
            <h2>
                <span>
                    <strong>
                        Saves you time, money & energy</strong>
                </span>
            </h2>
            <h2 class="rte">
                <span>
                    <strong>Safe strength sahi pH
                    </strong>
                </span>
            </h2>
        </div>
    </div>
</section>
{% comment %} section fourth end {% endcomment %}
<div class="container">
    <div class="text-center">
        <h2>Instapeels se peeling <span><b><i>SAHI</i></b></span> hai</h2>
    </div>
    <div class="text-center mt-10">
        <h3 style="margin-top: 60px;">91% customers rate us above 4 stars</h3>
    </div>
</div>
{% endblock content %}